/* src/components/EndlessText.css */
.endless-text {
    background-color: #0074E8;
    text-align: center;
    padding: 20px;
    margin: 0 auto; /* Center the component */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .innerdiv {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
  }
  
  .endless-text p {
    color:rgb(255, 255, 255);
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  

  @media only screen and (max-width: 768px) { 
    .innerdiv {
      max-width: 90%;
    }
  }