/* Footer.css */

.footer-container {
    background-color: #fff; /* White background */
    padding: 20px;
    text-align: center; /* Center content horizontally */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Adjust layout for desktop and mobile view */
@media only screen and (max-width: 768px) {
    .footer-container {
        display: flex;
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: center; /* Center content horizontally on small screens */
    }
}
