.carousel-container {
  position: relative;
  max-height: 200px;
  overflow: hidden;
}

.carousel {
  display: flex;
  width: 100%;
}

.slide {
  flex: 0 0 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
