/* Subscribe.css */

.subscribe-bar {
    background-color: #0074E8; /* You can customize the background color */
    color: white; /* You can customize the text color */
    padding: 10px;
    text-align: center; /* Center content horizontally */
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
  .subscribe-content {
    display: flex;
    flex-direction: row; /* Stack items vertically on small screens */
    align-content: center;
    align-items: center; /* Center content horizontally */
  }

  .subscribe-content > * {
    margin-left:20px;
    margin-right: 20px;
  }

  @media only screen and (max-width: 768px) {
    .subscribe-bar {
      display: flex;
      flex-direction: column;

    }
    .subscribe-content {
      display: flex;
      flex-direction: column; /* Stack items vertically on small screens */
      align-items: center; /* Center content horizontally */
    }

    .subscribe-form {
      margin: auto;
    }

    button {
      margin-top: 10px;
    }
  }
  
  .subscribe-text {
    display: flex;
    align-items: center;
  }
  
  .subscribe-text span {
    margin-left: 10px;
  }
  
  .subscribe-form {
    display: flex;
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center;
    gap: 10px;
    max-width: 300px; /* Set a maximum width for better readability */
    margin: 10px;
  }
  
  .subscribe-form input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    width: 100%; /* Make the input width 100% to fit any screen size */
  }
  
  button {
    padding: 8px 12px;
    background-color: #2980b9; /* You can customize the button color */
    color: white; /* You can customize the text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  